{{#if saved }}
  <div class="row blue white-text sms">
    <div class="text-sms">Link saved successfully
        <i class="small material-icons right occult">clear</i>
    </div> 
  </div>
{{/if}}

{{#if edit }}
  <div class="row blue white-text sms">
    <div class="text-sms">Link edited successfully
        <i class="small material-icons right occult">clear</i>
    </div> 
  </div>
{{/if}}

{{#if del }}
  <div class="row blue white-text sms">
    <div class="text-sms">Link removed successfully
        <i class="small material-icons right occult">clear</i>
    </div> 
  </div>
{{/if}}

{{#if log }}
  <div class="row blue white-text sms">
    <div class="text-sms">You have been successfully logged in.
        <i class="small material-icons right occult">clear</i>
    </div> 
  </div>
{{/if}}

{{#if register }}
  <div class="row blue white-text sms">
    <div class="text-sms"> Register Successful.
        <i class="small material-icons right occult">clear</i>
    </div> 
  </div>
{{/if}}