<div class="row"> <!--Main-->
   <div class="fullHeightRight"> <!--Container-->
    <div class="container text-size-20 mt-50"> <!--Work area-->

      <div class="center">
        <h2>Welcome</h2>
        <h3>{{user.fullname}}</h3> 
      </div>

      <nav class="col s12  white-text">   
        <h5 class="center">'{{user.username}}' profile </h5>
      </nav>
 
      <div class="row">
        <div class="card col s6 mt-50">
          <div class="card-action pulse">
            <a href="http://localhost:5000/links/add">Click here!. To save your links.</a>
          </div>
        </div>

        <div class="card col s6 mt-50">
          <div class="card-action">
            <a href="http://localhost:5000/links">Click here!. To see your links.</a>
          </div>
        </div>
      </div>

      <div class="row mt-150">
        <div class="col s2 rotY">
          <img src="/img/blue success.jpeg" alt="">
        </div>
        <div class="right">
          <img src="/img/th.jpeg" alt="">
        </div>
      </div>
      <div class="row">
       <samp>Help others and you will move the world. I promise you.</samp>
      </div>
      
    </div> <!--End Work area-->
  </div> <!--End Container-->
</div> <!--End Main-->
