<main class="index">
    <header class="masthead">
        <div class="container center">
            <h1>Favorite links</h1>
            <h3>
                <em>Store your favorite links</em>
            </h3>
            <a href="/singin" class="btn">
                Let's get Started
            </a>
        </div>
    </header>
</main>