<div class="center_conten">
    <div class="card teal darken-1">
      <div class="section card-content white-text"> 
        <h4>Welcome {{user.fullname}}</h4>
        <h5 class="center">{{user.username}}</h5>
        <div class="section card-action">
          <a href="http://localhost:5000/links/add">
              Click here!. Save your links.
          </a>
        </div>
      </div>
    </div>
    </div>
</div>
